* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

header {
    background-color: #1f2937;
    display: flex;
    padding: 15px 200px;
    justify-content: space-between;
}

.headerlogo {
    display: inline;
    color: #f9faf8;
    font-size: 24px;

}

.headerlink {
    display: inline;
    color: #e5e7eba8;
    font-size: 18px;
    margin: 0px 20px;
}

.banner {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

.bannercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    transition: opacity 5s ease 0s;
    opacity: 0;
}

.bannercontent.loaded {
    opacity: 1;
}

.tokyotower {
    width: auto;
    height: 320px;
}

.bannercontentleft {
    padding: 50px 0px;
}

.bannercontenthero {
    font-size: 48px;
    color: #f9f1f8;
    font-weight: 900;
}

.bannercontenttext {
    font-size: 18px;
    color: #e5e7eba8;
}

.bannerbutton {
    background-color: #2e73fc;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    height: auto;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.bannerbutton:hover {
    background-color: #265ecf;
    color: white;
}


.contenttitle {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 10px;
    transition: opacity 3s ease 0s;
    opacity: 0;
}

.contenttitle.loaded {
    opacity: 1;
}

.content1 img {
    height: auto;
    width: 150px;
    border-radius: 10px;
}

.content1 {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
}

.bodycontent {
    max-width: 2400px;
    justify-self: center;
    margin: 0 5rem;
}

.content1boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-size: 18px;
    color: #454546a1;
    text-align: center;
    opacity: 0;
}

.content1box1, .content1box4 {
    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
}

.content1box2, .content1box3 {
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
}

.content1box1 { transform: translateX(-100px); }
.content1box2 { transform: translateX(-100px); }
.content1box3 { transform: translateX(100px); }
.content1box4 { transform: translateX(100px); }

.content1box1.loaded, .content1box4.loaded {
    transform: translateX(0px);
    opacity: 1;
}

.content1box2.loaded, .content1box3.loaded {
    transform: translateX(0px);
    opacity: 1;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e5e7eb;
    padding: 50px 200px;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    text-align: left;
}

.quote, .quotename {
    transition: opacity 2s ease-in 0s;
    opacity: 0;
}

.quote.loaded, .quotename.loaded {
    opacity: 1;
}

.quotename {
    text-align: right;
    font-size: 32px;
    color: black;
    font-weight: bold;
    
}

.content3 {
    padding: 100px 0px;
    max-width: 2000px;
    justify-self: center;
}

.content3box {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 125px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    min-width: 800px;
}

.content3title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content3left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content3text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.523);
}

.content3right button {
    font-size: 18px;
    padding: 5px 30px;
    color: white;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.content3right button:hover {
    background-color: red;
    color: blue;
}

footer {
    background-color: #1f2937;
    display: flex;
    height: 50px;
    color: #e5e7eba8;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .header {
        padding: 15px 3rem;
        gap: 1rem;
    }
    .banner {
        padding: 3rem 100px;
    }

    .headerlink {
        margin: 0;
    }

    .contenttitle {
        margin-top: 2rem;
    }

    .bannercontent {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .bannercontenthero {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .bannercontentleft {
        padding: 0;
    }

    .content1 {
        flex-direction: column;
    }

    .content1boxes {
        max-width: 500px;
        margin: 0;
        margin-bottom: 3rem;
    }

    .bodycontent {
        margin: 0 1rem;
    }

    .contenttitle {
        font-size: 24px;
    }

    .content2 {
        padding: 50px 3rem;
    }

    .quote {
        font-size: medium;
    }

    .quotename {
        font-size: medium;
    }

    .content3 {
        padding: 2rem 0;
    }

    .content3title, .content3text {
        font-size: medium;
    }

    .content3box {
        flex-direction: column;
        padding: 1rem;
        min-width: 250px;
        margin: 0px 3rem;
        gap: 1rem;
    }

    .content3right > button {
        font-size: small;
    }
}